
#progressBar
{
	width:100%;
	margin-top:5px;
}

#outputBlock
{

}

.startButton
{
	margin-top:3px;
	margin-bottom:3px;
}
#output
{
	/*border:2px solid black;*/
}

.startButton
{
	margin:5px 0px;
}
#ouputInnerBlock,#ouputInnerPlotBlock
{
	padding:5px;
}
#outputInnerPlotBlock
{
	text-align:center;
}
#outputResultsLabel
{
	padding:5px;
	border-bottom:2px solid black;
}
#outputGraphLabel
{
	padding:5px;
	border-bottom:2px solid black;
	border-top:2px solid black;
}

.statCell
{
	display:table-cell;
	padding:5px;
	border:1px solid black;
}
.statRow
{
	display:table-row;
}
.statTable
{
	display:table;
	border-collapse:collapse;
}



.statMobileMethod
{
	border-bottom:2px solid black;
}

.statTableMobile
{
	displat:flex;
	flex-direction:column;
}

.statCellMobile
{
	border:2px solid black
}
.statCellMobileLabel
{

}

.plotDiv
{
	width:100%;
}

.plotComponent
{
	width:100%;
}